<div id="biz-info">
  <div id='name'>
    <h1><%= @name %></h1>
  </div>

  <div id='address'>
    <% @yelp_data["location"]["display_address"].each do |address_line| %>
      <%= address_line %>
      <br />
    <% end %>
  </div>
  <br />
  <div id='phone'>
    Phone: +1 <%= @yelp_data["phone"] %>
  </div>
</div>

<hr />

<div id='-locu-menuwidget'>
  <h3>Locu thinks...</h3>
</div>

<hr />

<div id='yelp'>
  <h3>Yelp thinks...</h3>
  <div id="rating">
    <%= image_tag @yelp_data["rating_img_url_large"] %>
    <%= @yelp_data["rating"] %>/5
    <br />
    <%= @yelp_data["review_count"] %> Reviews
  </div>
</div>

<script type="text/javascript" id="--locu-menuwidget" src="https://widget.locu.com/menuwidget/locu.widget.developer.v1.0.js?venue-id=<%= @venue_id %>&widget-key=20ee101b787becec27ddc27e69b10986a3db4a8a"></script>
